<div hlmEmpty class="border">
  <div hlmEmptyHeader class="items-center text-center">
    <div hlmEmptyMedia variant="icon">
      @if (icon()) {
        <ng-icon [name]="icon()" class="size-5" />
      }
    </div>

    <div hlmEmptyTitle>
      {{ title() }}
    </div>

    @if (description()) {
      <div hlmEmptyDescription class="max-w-md">
        {{ description() }}
      </div>
    }
  </div>

  @if (showAction()) {
    <div hlmEmptyContent class="flex justify-center">
      <button hlmBtn (click)="actionClick.emit()">
        @if (actionIcon()) {
          <ng-icon [name]="actionIcon()" class="mr-2 size-4" />
        }
        {{ actionLabel() }}
      </button>
    </div>
  }
</div>
