<div hlmTableContainer>
	<table hlmTable>
		<thead hlmTHead class="bg-gray-200">
			<tr hlmTr>
				<th hlmTh>Nombre</th>
				<th hlmTh>Correo</th>
				<th hlmTh>Teléfono</th>
				<th hlmTh>Roles</th>
				<th hlmTh>Estado</th>
				<th hlmTh>Creado</th>
				<th hlmTh>Modificado</th>
				<th hlmTh class="text-right">Acciones</th>
			</tr>
		</thead>

		<tbody hlmTBody>
			@for (user of users(); track user.id) {
				<tr hlmTr>
					<td hlmTd class="text-foreground font-medium">
						{{ user.fullName }}
					</td>

					<td hlmTd>{{ user.email }}</td>

					<td hlmTd>
						{{ user.phoneNumber || "Sin teléfono" }}
					</td>

					<td hlmTd>
						<div class="flex flex-wrap gap-1">
							@for (role of user.roles; track role.id) {
								<span hlmBadge variant="outline">
									{{ role.name }}
								</span>
							}
						</div>
					</td>

					<td hlmTd>
						@if (user.isActive) {
							<span
								hlmBadge
								class="bg-emerald-100 text-emerald-700 hover:bg-emerald-100"
							>
								Activo
							</span>
						} @else {
							<span hlmBadge variant="outline">Inactivo</span>
						}
					</td>

					<td hlmTd>{{ user.createdAt }}</td>

					<td hlmTd>{{ user.updatedAt }}</td>

					<td hlmTd class="text-right">
						<div class="flex items-center justify-end gap-2">
							<button
								hlmBtn
								variant="outline"
								size="sm"
								class="cursor-pointer"
								(click)="onViewUser(user)"
							>
								<ng-icon name="lucideEye" class="text-foreground" />
							</button>

							<!-- <button
								hlmBtn
								variant="outline"
								size="sm"
								class="cursor-pointer"
								(click)="onEditUser(user.id)"
							>
								<ng-icon name="lucidePencil" class="text-foreground" />
							</button> -->

							<!-- <button
								hlmBtn
								variant="outline"
								size="sm"
								class="cursor-pointer"
								(click)="onManageRoles(user)"
							>
								<ng-icon name="lucideShield" class="text-foreground" />
							</button> -->
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
