<hlm-field>
  @if (label()) {
    <label hlmFieldLabel [for]="inputId()">{{ label() }}</label>
  }

  <div class="relative">
    @if (icon()) {
      <ng-icon
        [name]="icon()"
        class="text-muted-foreground absolute top-1/2 left-3 -translate-y-1/2 text-base"
      />
    }

    <input
      hlmInput
      [id]="inputId()"
      type="email"
      [placeholder]="placeholder()"
      [formControl]="control()"
      [class.pl-10]="icon()"
    />
  </div>
  @if (description()) {
    <p hlmFieldDescription>
      {{ description() }}
    </p>
  }
  <hlm-field-error validator="required">
    {{ requiredMessage() }}
  </hlm-field-error>

  <hlm-field-error validator="email">
    {{ invalidMessage() }}
  </hlm-field-error>
</hlm-field>
