<div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <hlm-field-group>
      <!-- HEADER -->
      <div class="flex flex-col items-center gap-2 text-center">
        <a href="#" class="flex flex-col items-center gap-2 font-medium">
          <div class="flex size-8 items-center justify-center rounded-md">
            <ng-icon name="lucideGalleryVerticalEnd" class="size-6" />
          </div>
        </a>
        <h1 class="text-xl font-bold">Welcome back Superadmin</h1>

        <!-- <hlm-field-description>
          Don't have an account? <a href="#">Sign up</a>
        </hlm-field-description> -->
      </div>

      @if (errorMessage()) {
        <div
          class="rounded-md border border-red-200 bg-red-50 px-3 py-2 text-sm text-red-600"
        >
          {{ errorMessage() }}
        </div>
      }

      <!-- EMAIL -->
      <app-email-input
        [control]="form.controls.email"
        inputId="email"
        label="Correo electrónico"
        placeholder="superadmin@finance.local"
        icon="lucideMail"
      />

      <!-- PASSWORD -->
      <!-- <div class="space-y-2">
        <div class="flex items-center">
          <span class="text-sm font-medium">Contraseña</span>

          <a
            class="text-muted-foreground ml-auto text-sm underline-offset-4 hover:underline"
            routerLink="/auth/forgot-password"
          >
            ¿Olvidaste tu contraseña?
          </a>
        </div>

        <app-password-input
          [control]="form.controls.password"
          inputId="password"
          label=""
        />
      </div> -->

      <app-password-input
        [control]="form.controls.password"
        inputId="password"
        label="Contraseña"
      />

      <!-- asdf -->

      <!-- LOGIN BUTTON -->
      <hlm-field>
        <button
          hlmBtn
          type="submit"
          [disabled]="form.invalid || isSubmitting()"
        >
          @if (isSubmitting()) {
            Signing in...
          } @else {
            Login
          }
        </button>
      </hlm-field>

      <!-- SEPARATOR -->
      <hlm-field-separator>Or</hlm-field-separator>

      <app-copy-input
        value="superadmin@finance.local"
        placeholder="Enlace"
        ariaLabel="Copiar Enlace"
      />

      <app-copy-input
        value="SuperAdmin123!"
        placeholder="Enlace"
        ariaLabel="Copiar Enlace"
      />

      <!-- <hlm-field class="grid gap-4 sm:grid-cols-2">
        <button hlmBtn variant="outline" type="button">
          <ng-icon name="remixGithubFill" class="text-xl" />
          Continue with GitHub
        </button>
        <button hlmBtn variant="outline" type="button">
          <ng-icon name="remixGoogleFill" />
          Continue with Google
        </button>
      </hlm-field> -->
    </hlm-field-group>
  </form>

  <!-- FOOTER -->
  <!-- <div hlm-field-description class="px-6 text-center">
    By clicking continue, you agree to our
    <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
  </div> -->
</div>
